*{
    padding: 0;
    margin: 0;
}
html,  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    box-sizing: content-box;
    overflow-x: hidden;
    
}
body{
    background-color: white;
    scroll-behavior: smooth;
    height: auto;
}
/* i removed the height from auto */
header{
    
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2em;
    height: auto;
    position: sticky;
    
}
.nav-menu{
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
   text-transform: capitalize;
   background-color: white;
   padding: 1.5em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ul li a{
    text-decoration: none;
    padding: 10px;
    position: relative;
    border-radius: 9px;
    background-color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 a:hover:focus{
    color: red;

}

ul li a:hover{
     text-decoration: none;
    border-radius: 9px;
    background-color: gray;
    text-transform: capitalize;
    font-weight: bold;
    padding: 12px;
     transform: scale(1.1);
}

/*using the hover elements before and after here*/

.logo{
    transition: transform 0.3s ease;
    width: 45%;
}
.logo:hover{
    transform: scale(1.1);
}
/* please what is the meaningg of transform scale */
.section_container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.content_div{
    display: flex;
    flex: .5;
    flex-direction: column;
    padding: 4em;

}
.content_div > h2{
    font-size: 3em;
}
.image_div{
    display: flex;
flex: .5;
}

.btn-btn:hover{
    background-color: blue;
}
/* this is for the projects for those image there */
/* .section-column */

.third-section{
    height: auto;
    margin: 4em 0;
}

.section-column{
    height: 200px;
    width: 100%;
    border-radius: 2px solid;
    background-color: lightblue;
    margin: 2em;
}

.div-img{
    height: 45%;
    border-radius: 1px solid;
    width: 40%;
    margin: 2em;  
}
.img-div:hover{
    transform: scale(1.1);
}

/* this is for section one image styling */
.section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 18px,20px;
    border-radius: 1px solid;
    gap: 2em;
}

.box-one{
    height: 230px;
    width: 280px;
    background-color: white;
    text-align: center;
    margin: 2em;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box-one>h3{
    text-decoration: underline;
}
.box-one:hover{
    background-color: lightblue;
     transform: scale(1.1);

}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 0;

    
}
.hamburger  span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: all 0.3s;
    border-radius: 2px;

    /*  the  margin refers to the inside distance betwen the hamburger three span */
}
.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -11px);
}

/* upand down for margin is 4px while left and right is 0 */
.nav-menu{
    position: relative;
}

.cont_sect{
    height: 40vh;
    background-color: lab(90.65% 3.39 1.2);
    align-items: center;
    border: 1px solid;
    padding: 4em;
}
.form-section{
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
    margin: 3em 2.5em;
    padding: 1em 1.5em;
}
input{
    background-color: white;
    width: 90%;
    margin: 1.4em;
    
    height: 2.3em;
    border: none;
}
textarea{
    width: 90%;
    border: 1px solid; 
    margin: 1.4em 1.3em;

}
.form-btn{
    width: 90%;
    height: 2em;
    background-color: white;
    border-radius: 0 33px 0 33px;
    cursor: pointer;
}
.form-btn:hover{
    background-color: white;
    
}
.third-section{
    margin-bottom: 4em 3.5em;
    
}

.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    flex-direction: row;
    justify-content: center;
    gap: 2em;  
    padding: 1em,1.3em;
    text-align: center;
    margin: 1em 1.3em;
    border-radius: 30px 0 30px 0;
}
.img-titlediv{
    border: 1px solid;
    border-radius: 37px 0 37px 0;
    height: auto;
    width: 23em;
    padding: 1em;
}
.buttons-section{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
}

.github-button{
    border: 1px solid black;
    width: 100%;
    border-radius: 33px 0 33px 0;
    padding: 1em;
    cursor: pointer;
    background-color: white;
}
.demo-button{
    border: none;
    text-align: center;
    padding: 1em;
    border-radius: 0;
    background-color: #fff;    
}

.footer{
    background-color:lightgray;
    color:white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    position: relative;
}
        
            
         
         
        
            


         

         
         
         

@media (min-width: 80px) and (max-width: 850px){
    .hamburger{
        display: flex;
        align-items: center;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background: white;
        width: 99%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 2rem 0;
        gap: 2rem;
        /* boxshadow and  background lineargradient goes hand in hand */
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        padding: 1rem 0;
        display: block;
    }

    .nav-link::after {
        display: none;
    }
    

    .logo{
        width: 45px;
    }
    .section_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: auto;
    }
    .image_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_div{
        display: flex;
        flex-direction: column;
        padding: 1em;

    }
    .section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.cont_sect{
    display: flex;
    flex-direction: column;   
}
.form-section{
    
    flex-direction: columnn;

}



 .card-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: auto;
     
    
 }
 .img-titlediv{
    display: flex;
    flex-direction: column;
    width: auto;
    

 }
 .github-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: column;
    width: auto;

 }
 
 
 .btns{
    width:40 ;

 }
 

}

