*{
    padding: 0;
    margin: 0;
}
html,  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    box-sizing: content-box;
    overflow-x: hidden;
    
}
body{
    background-color: white;
    scroll-behavior: smooth;
    height: auto;
}
/* i removed the height from auto */
header{
    
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2em;
    height: auto;
    position: sticky;
    box-shadow: none;
    filter: none;
}
header::after{
    box-shadow: none;
}
.nav-menu{
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
   text-transform: capitalize;
   background-color: white;
   padding: 1.5em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-shadow: none;
   filter: none;

}
ul li a{
    text-decoration: none;
    padding: 10px;
    position: relative;
    border-radius: 9px;
    background-color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 a:hover:focus{
    color: red;

}

ul li a:hover{
     text-decoration: none;
    border-radius: 9px;
    background-color: gray;
    text-transform: capitalize;
    font-weight: bold;
    padding: 12px;
     transform: scale(1.1);
}

/*using the hover elements before and after here*/

.logo{
    transition: transform 0.3s ease;
    width: 45%;
}
.logo:hover{
    transform: scale(1.1);
}
/* please what is the meaningg of transform scale */
.section_container{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 4em;
}
.content_div{
    display: flex;
    flex: .5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    text-transform: capitalize;
    text-align: center;
}
.content_div > h2{
    font-size: 3em;
}
.image_div{
    display: flex;
    flex: .5;
}

.btn-btn:hover{
    background-color: blue;
}
/* this is for the projects for those image there */
/* .section-column */peterportfolio-projectpeter-portfolio-projectpeter-portfolio-projectpeter-portfolio-project

.url-image{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;

    
}


.third-section{
    height: auto;
    margin: 4em 0;
}

.section-column{
    height: 200px;
    width: 100%;
    border-radius: 2px solid;
    background-color: lightblue;
    margin: 2em;
}

.div-img{
    height: 45%;
    border-radius: 1px solid;
    width: 40%;
    margin: 2em;  
}
.img-div:hover{
    transform: scale(1.1);
}

/* this is for section one image styling */
.section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 18px,20px;
    border-radius: 1px solid;
    gap: 2em;
}

.box-one{
    height: 230px;
    width: 280px;
    background-color: white;
    text-align: center;
    margin: 2em;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box-one >h3{
    text-decoration: underline;
}
.box-one:hover{
    background-color: lightblue;
     transform: scale(1.1);

}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
    border: 20px;
    padding: 0;

    
}
.hamburger > span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: all 0.3s;
    border-radius: 2px;

    /*  the  margin refers to the inside distance betwen the hamburger three span */
}
.hamburger{
    width: 26px;
}


.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -11px);
}

/* upand down for margin is 4px while left and right is 0 */
.nav-menu{
    position: relative;
}

.second-section{
    background-image: url("./images/cloudpix.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230vh;
    
}
.resume-div{
    position:relative;
    display: block;
    margin: 2em;
    padding: 1.5em;


}
.resume{

    background-color:blue;
    padding: 1em;
    text-transform: none;
    background-color: white;
    border-radius: 33px 33px 0 33px;
    text-decoration: none;
}
.resume:hover{
    background-color: lightblue;
}

.resume >a {
    text-decoration: none;
}



.form-section{
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
    margin: 3em 2.5em;
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-btns{
    border-radius: 30px 30px 30px 0;
    padding: 1em;
    width: 94%;
}
.textbox-area{
    padding: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border-radius: 34px 34px 34px 0;
    border: none;

}
.form-buttondiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-box{
     margin-bottom: 10em;
     height: 35vh;
     border:1px solid;   
     background-color: white;
     display: flex;
     flex-direction: row;
     padding: 2em;
     justify-content: space-between;
}
.email-section{
    height: 20vh;
    background-color: yellow;
    width: 20%;
    padding: 2.7em;
    
}
.git-section{
     height: 20vh;
    background-color: lightblue;
    width: 20%;
    padding: 2.7em;
 box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    
    
}
.box-tech{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    justify-content:  space-between;
    gap: 1em;
      
}
.div-social{

    text-align: center;
    padding: 1em;

}
.master-div{
    height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    
}
.first-childdiv{
    flex: 0.4;
    height: 50vh;
    border: 1px solid;
    padding: 1em;
    gap: 2em;
    background-color: white;

}
.second-childdiv{
     flex: 0.4;
    height: 40vh;
    border: 1px solid;
    padding: 1em;
    box-shadow: -5px 11px -5px 11px azure;
    background-color: #FFFF;

}

.div-coms{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4em;
    margin-top: 3em;
    margin: 1.3em;
    padding: 1.2em;
    cursor: pointer;

    

}
.div-coms :hover{
    transform: scale(1.1);
}



input{
    background-color: white;
    width: 90%;
    margin: 1.4em;
    height: 2.3em;
    border: none;
}
textarea{
    width: 90%;
    border: 1px solid; 
    margin: 1.4em 1.3em;

}
.form-btn{
    width: 90%;
    height: 2em;
    background-color: white;
    border-radius: 0 33px 0 33px;
    cursor: pointer;
    padding: 1.25em;
}

.resume{
    position: relative;

}


.resume{
    justify-content:center ;
    text-align: center;
    margin-top: 23em;
    

}


.form-btn:hover{
    background-color: white;
    
}
.third-section{
    margin-bottom: 4em ,3.5em;
    
}

.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    flex-direction: row;
    justify-content: center;
    gap: 2em;  
    padding: 1em,1.3em;
    text-align: center;
    margin: 1em 1.3em;
    border-radius: 30px 0 30px 0;
}
.img-titlediv{
    border: 1px solid;
    border-radius: 37px 0 37px 0;
    height: auto;
    width: 23em;
    padding: 1em;
}
.buttons-section{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
}

.github-button{
    border: 1px solid black;
    display: block;
    width: 100%;
    border-radius: 33px ;
    padding: 1em;
    cursor: pointer;
    background-color: white;
    position: relative;


}
.demo-button{
    border: none;
    text-align: center;
    padding: 1em;
    border-radius: 0;
    background-color: #fff;    
}
.word-div{
    text-align: center;
}

.footer{
    background-color:lightgray;
    color:white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    position: relative;
}

/* ABOUT STYLING */

.about-section{

    height: 120vh;
    margin : 10em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.about-div{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.about-image{
    display: flex;
    flex: .4;
    margin: 2em; 
    border-radius: 35px ;
    justify-content: center;
    
    
}
.about-text{
    display: flex;
    flex: .6;
    flex-direction: column;

    font-size: 1.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

                  

@media (min-width: 80px) and (max-width: 850px){
    .hamburger{
        display: flex;
        align-items: center;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background: white;
        width: 99%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 2rem 0;
        gap: 1rem;
        /* boxshadow and  background lineargradient goes hand in hand */
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        padding: 1rem 0;
        display: block;
        transform: scale(1.1);
        
    }

    .nav-link::after {
        display: none;
    }
    

    .logo{
        width: 45px;
    }
    .section_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: auto;
    }
    .image_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_div{
        display: flex;
        flex-direction: column;
        padding: 1em;

    }
    .section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.second-section{
    height: 100vh;
    width: auto;
    margin: .3em .4em;
}
.cont_sect{
    display: flex;
    flex-direction: column;   
}
.form-section{
    width:auto ;


}
.input-btns{
    width: 85%;
}
.textbox-area{
    width: auto;
}


 .card-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: auto;
     
    
 }
 .img-titlediv{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 4em;
    

 }

 .github-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: column;
    width: auto;

 }

 .about-section{
    width: auto;
    display: flex;
    
 }



 .about-div{
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: .1em;
    

    
 }
 .master-div{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: .3em;
 }
 .first-text{
    font-size: 1em;
    padding: 0.6em;
    margin: 1em;
 }

 .mypics{
    width: .3em .4em;
    border-radius: 20px;
    
 }
 
 .about-paragraph{
    width: auto;
    font-size: 1.2rem;
    

 }
 .button-download{
    width: 70%;
    font-size: 0.60rem;
    display: column;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    margin-bottom: .2em;
    position: relative;
    height: .1em;
 }



 
 

 }
 

 



