*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    scroll-behavior: smooth;
    height: auto;
    
}
/* i removed the height from auto */
header{
    
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2em;
    height: auto;
    position: sticky;
    
}
.nav-menu{
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
   text-transform: capitalize;
   background-color: white;
   padding: 1.5em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ul li a{
    text-decoration: none;
    padding: 10px;
    position: relative;
    border-radius: 9px;
    background-color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 a:hover:focus{
    color: red;

}


/* explain border radius*/

ul li a:hover{
     text-decoration: none;
    border-radius: 9px;
    background-color: gray;
    text-transform: capitalize;
    font-weight: bold;
    padding: 12px;
     transform: scale(1.1);
}
.btn{
    text-align: center;
     background-color:white ;
    color: lightblue;
    border: none;
    display: inline-block;
    border-radius: 5px;
    padding: 4px 10px ;
    text-align: center;
    
}

  

    




/*using the hover elements before and after here*/

.logo{
    transition: transform 0.3s ease;
    width: 45%;
}
.logo:hover{
    transform: scale(1.1);
}
/* please what is the meaningg of transform scale */
.section_container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.content_div{
    display: flex;
    flex: .5;
    flex-direction: column;
    padding: 4em;

}
.content_div > h2{
    font-size: 3em;
}
.image_div{
    display: flex;
flex: .5;
}
.btn-btn{
    background-color: white;
    color: lightblue;
    padding: 8px;

}
.btn-btn:hover{
    background-color: blue;
}
/* this is for the projects for those image there */
/* .section-column */



.third-section{
    height: 50vh;
}

.section-column{
    height: 200px;
    width: 100%;
    border-radius: 2px solid;
    background-color: lightblue;
    margin: 2em;
    box-sizing: border-box;


}

.div-img{
    height: 45%;
    border-radius: 1px solid;
    width: 40%;
    
    margin: 2em;
    
}
.img-div:hover{
    transform: scale(1.1);
}

.img-div:hover::after{
    width: 0;
    
    display: block;
    
}

    /* tyle="display: flex; flex-direction: column; align-items: center; justify-content: center;padding-left: 6em; border-radius: 1px solid; height: 2em */
    


/* this is for section one image styling */
.section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 18px,20px;
    border-radius: 1px solid;
    gap: 2em;
}
.footer{
    background-color: blac;
    color:#f4f4f4;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.box-one{
    height: 230px;
    width: 280px;
    background-color: white;
    text-align: center;
    margin: 2em;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box-one>h3{
    text-decoration: underline;
}
.box-one:hover{
    background-color: lightblue;
     transform: scale(1.1);


}

footer{
    background-color: black;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

textarea{
    width: 80%;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    text-align: center;
    height: 3.5em;
    background-color: lightskyblue;

}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: none;
    border: none;
    padding: 0;

    
}
.hamburger  span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: all 0.3s;
    border-radius: 2px;
    /*  the  margin refers to the inside distance betwen the hamburger three span */
}
.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -11px);
}

/* upand down for margin is 4px while left and right is 0 */
.nav-menu{
    position: relative;
}
/* this is styling for the second section containING THE FORM */
.second-section{
    height: 70vh;
    background-color: lightblue;
    margin: 3em;
}
.cont_sect{
    height: 35vh;
    background-color: lab(90.65% 3.39 1.2);
    align-items: center;
    border: 1px solid;
    margin: 4em;
    
    padding: 4em;

}
.form-section{
    height: 36vh;
    border: 2px solid white;
    width: auto;
    box-sizing: border-box;
    box-sizing: content-box;
    margin: 2em;
    padding: 1em 1.5em;
}
input{
    background-color: white;
    width: 80%;
    margin: 2em;
    padding: 0.50em ;
    height: 2em;
    border: none;
}



  .card-container{
            display: grid;
            grid-template-columns: auto auto auto;
            flex-direction: row;
            justify-content: center;
            gap: 2em;
    
            
            padding: 1em,1.3em;
            text-align: center;
            margin: 1em 1.3em;
        
            border-radius: 30px 0 30px 0;
             
        }
         .img-titlediv{
            border: 1px solid;
            border-radius: 37px 0 37px 0;
            height: auto;
            width: 23em;
            padding: 1em;
            
            

         }
         .buttons-section{
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: space-between;
            padding: 1em;
            text-align: center;

         }
         .github-button{
            border: 1px solid black;
            width: 100%;
            border-radius: 33px 0 33px 0;
            padding: 1em;
            cursor: pointer;
            background-color: white;
         }
         .demo-button{
            
            border: none;
            text-align: center;
            padding: 1em;
            box-sizing: border-box;
            border-radius: 0;
            background-color: #fff;
        
         }
        
            
         
         
        
            


         

         
         
         

@media (min-width: 80px) and (max-width: 850px){
    .hamburger{
        display: flex;
        align-items: center;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background: white;
        width: 99%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 2rem 0;
        gap: 2rem;
        /* boxshadow and  background lineargradient goes hand in hand */
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        padding: 1rem 0;
        display: block;
    }

    .nav-link::after {
        display: none;
    }
    

    .logo{
        width: 45px;
    }
    .section_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: auto;
    }
    .image_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_div{
        display: flex;
        flex-direction: column;
        padding: 1em;

    }
    .section-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.cont_sect{
    display: flex;
    flex-direction: column;   
}
.form-section{
    
    flex-direction: columnn;

}



 .card-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: auto;
    
 }
 .img-titlediv{
    display: flex;
    flex-direction: column;
    width: auto;

 }
 .github-button{
    flex-direction: column;
    text-align: center;
    display: column;
    width: auto;

 }
 
 
 .btns{
    width:40 ;

 }
 

}

